
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>test1</title>
</head>
<body>
    <div>
        <table>
            <tr>
                <th>Command</th>
                <th>Result</th>
            </tr>
            <tr>
                <td>@ViewBag.command1</td>
                <td><pre>@ViewBag.command1Result</pre></td>
            </tr>
            <tr>
                <td>@ViewBag.command2</td>
                <td><pre>@ViewBag.command2Result</pre></td>
            </tr>
            <tr>
                <td>@ViewBag.command3</td>
                <td><pre>@ViewBag.command3Result</pre></td>
            </tr>
            <tr>
                <td>@ViewBag.command4</td>
                <td><pre>@ViewBag.command4Result</pre></td>
            </tr>
            <tr>
                <td>@ViewBag.command5</td>
                <td><pre>@ViewBag.command5Result</pre></td>
            </tr>
        </table>
    </div>
</body>
</html>
