@model List<ado.Models.products>
@{
    ViewBag.Title = "Home";
    Layout = "~/Areas/Admin/Views/Shared/_Layout1.cshtml";
}

<div class="container-full">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="page-title">Products</h3>
                <div class="d-inline-block align-items-center">
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
                            <li class="breadcrumb-item" aria-current="page">e-Commerce</li>
                            <li class="breadcrumb-item active" aria-current="page">Products</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <button type="button" data-toggle="modal" data-target="#add1" class="waves-effect waves-light btn btn-success mb-5"><i class="fa fa-check"></i> Thêm Mới</button>
        </div>
    </div>

    <!-- Main content -->
    <section class="content">

        <div class="row fx-element-overlay" id="showSP1">
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <div class="col-12 col-lg-6 col-xl-4">
                        <div class="box box-default">
                            <div class="fx-card-item">
                                <div class="fx-card-avatar fx-overlay-1">
                                    <img src="~/images/product/@item.hinhAnh" alt="user">
                                    <div class="fx-overlay scrl-up">
                                        <ul class="fx-info">
                                            <li><a class="btn btn-outline btnedit" data-id="@item.maSP" data-toggle="modal" data-target="#edit1"><i class="mdi mdi-table-edit"></i></a></li>
                                            <li><a class="btn btn-outline btndelete" href="#" data-id="@item.maSP" data-toggle="modal" data-target="#modal-center"><i class="mdi mdi-delete"></i></a></li>
                                            <li><a class="btn btn-outline btndetail" data-id="@item.maSP" href="#"><i class="mdi mdi-settings"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="fx-card-content text-left mb-0">
                                    <div class="product-text">
                                        <h3 class="pro-price text-blue">@item.giaBan VNĐ</h3>
                                        <h4 class="box-title mb-0">@item.tenSP</h4>
                                        <small class="text-muted db">Lorem Ipsum Dummy Text</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.box -->
                    </div>
                }
            }

        </div>

    </section>
    <!-- /.content -->
</div>
<div class="modal fade bs-example-modal-lg" tabindex="-1" id="edit1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">Sửa Sản Phẩm</h4>
                <button type="button" class="close btnclose1" aria-hidden="true" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>

            </div>
            <div class="modal-body">
                <form>
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                @Html.AntiForgeryToken()
                                <div class="form-group">
                                    <label class="font-weight-700 font-size-16">Mã Sản Phẩm</label>
                                    <input type="text" id="maSP1" class="form-control" placeholder="Mã Sản Phẩm">
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="font-weight-700 font-size-16">Tên Sản Phẩm</label>
                                    <input type="text" id="tenSP1" class="form-control" placeholder="Tên Sản Phẩm">
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <!--/row-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="font-weight-700 font-size-16">Mã Giảm</label>
                                    <select class="form-control" id="maGiam1" data-placeholder="Choose a Category" tabindex="1">
                                        <option value="6">0%</option>
                                        <option value="1">10%</option>
                                        <option value="2">20%</option>
                                        <option value="3">30%</option>
                                        <option value="4">40%</option>
                                        <option value="5">50%</option>
                                    </select>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="font-weight-700 font-size-16">Price</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="ti-money"></i></div>
                                        <input type="text" class="form-control" id="giaBan1" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <!--/row-->
                        <div class="row">
                            <!--/span-->
                            <div class="col-md-3">
                                <div class="product-img text-left">
                                    <img src="" id="xemAnh" alt="">
                                    <div class="btn btn-info mb-20">
                                        <input type="file" class="upload" id="hinhAnh1" style="color: transparent;">
                                        <span id="tenAnh"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>							<!-- /.box-body -->

                </form>
            </div>
            <div class="modal-footer modal-footer-uniform">
                <button type="button" class=" btn btn-secondary btn btn-rounded btn-warning btn-outline mr-1 btnthoat" data-dismiss="modal"><i class="ti-trash"></i> Thoát </button>
                <button type="button" style="background-color:blue" class="btn btn-rounded btn-primary btn-outline btn btn-primary float-right btnmua" id="sua1"><i class="ti-save-alt"></i>Lưu  </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
